@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

p {
  font-family: verdana;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(172, 161, 132, 0.5);
  padding: 10px;
}

.about {
  background: rgba(172, 161, 132, 0.5);
  padding: 2px;
}

body {
  font-family: verdana;
  background-color: rgb(224, 215, 194);
}

h1 {
  color: black;
  font-family: verdana;
  text-align: center;
  margin: 50px;
}

h2 {
  color: black;
  font-family: arial;
  text-align: center;
  margin: 50px;
}

.boton {
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  background-color: rgb(187, 209, 220);
  right: 10px;
  animation-name: init;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 0s;
}

.boton a {
  padding: 30px;
  display: inline-block;
}

@keyframes init {
  10% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
nav ul li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
nav ul li a {
  text-decoration: none;
  font-size: 30px;
  background-image: linear-gradient(125deg, #c68383, rgba(255, 255, 255, 0.6588235294));
  background-position: 0% 10%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  padding: 10px;
  transition: background-size 0.3s;
}
nav ul li a:hover {
  background-image: linear-gradient(125deg, #f1ebeb, #f16666);
  background-size: 100% 100%;
  color: white;
}

.navbar-brand {
  color: #9c3824;
  background-image: linear-gradient(150deg, #c25ca4, rgba(238, 238, 238, 0.9333333333));
  transition: 0.3s;
  padding: 10px;
}

.nav-item, .nav-link {
  text-decoration: none;
  font-size: 20px;
  background-image: linear-gradient(125deg, #c68383, rgba(241, 102, 102, 0.6588235294));
  background-position: 0% 10%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  padding: 10px;
  transition: background-size 0.8s;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(172, 161, 132, 0.5);
  margin-top: 50px;
  padding: 10px;
  flex-direction: column;
}

.instagram-link {
  display: inline-block;
  color: #e4405f;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.icon-instagram {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

/* pagina inicio*/
.contenido {
  margin: 30;
  background-color: rgb(224, 215, 194) ¡;
}

.container_ol {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.ol_rutina {
  display: inline-block;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.ul_index {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
}

.li_index {
  float: left;
  flex-direction: column;
}

.li_index a {
  display: block;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 14px 16px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
}

.ratio {
  position: relative;
  width: 95%;
}

/*lista inicio*/
.lista {
  margin-left: 75px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  color: antiquewhite;
  font-size: 28px;
}

.new {
  display: flex;
  background-color: beige;
  height: 500%;
  width: 100%;
}

.container_img {
  position: relative;
  font-family: Arial;
  margin: 0 auto;
}

.text_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  position: absolute;
  bottom: 50%;
  left: 5%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 90%;
}

.carousel {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.carousel .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: carousel 15s infinite;
}
.carousel .slide:nth-child(1) {
  animation-delay: 0s;
}
.carousel .slide:nth-child(2) {
  animation-delay: 5s;
}
.carousel .slide:nth-child(3) {
  animation-delay: 10s;
}
.carousel .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes carousel {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  8% {
    opacity: 1;
    transform: translateX(0%);
  }
  30% {
    opacity: 1;
    transform: translateX(0%);
  }
  40% {
    opacity: 0;
    transform: translateX(100%);
  }
}
/*rutinas*/
.pasos {
  display: flex;
  flex-direction: center;
  justify-content: center;
  gap: 10px;
  display: flex;
  width: 100%;
  height: 100%;
}

.pseudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 20px;
}

.caja:nth-child(even) {
  background-color: rgb(212, 205, 207);
}

.caja {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  transition: 0.5s;
  width: auto;
}

.caja__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: flex-start;
}

.caja img {
  width: 30%;
  transition: 0.5s;
}

.caja:hover {
  background-color: rgb(247, 237, 240);
}

.caja:hover img {
  width: 40%;
  transition: 1s;
}

/** kstyle**/
.grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 400px);
  gap: 10px;
  grid-template-areas: "area1 area2 area3" "area4 area5 area6" "area7 area8 area9";
  padding: 20px;
}

.cajaflex, .container_iframe, .cajita {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cajita img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.c1 {
  background-color: antiquewhite;
  grid-area: area1;
}

.c2 {
  background-color: antiquewhite;
  grid-area: area2;
  text-align: center;
}

.c3 {
  background-color: antiquewhite;
  grid-area: area3;
  text-align: center;
}

.c4 {
  background-color: antiquewhite;
  grid-area: area4;
  text-align: center;
}

.c5 {
  background-color: antiquewhite;
  grid-area: area5;
  text-align: center;
}

.c6 {
  background-color: antiquewhite;
  grid-area: area6;
  text-align: center;
}

.c7 {
  background-color: antiquewhite;
  grid-area: area7;
  text-align: center;
}

.c8 {
  background-color: antiquewhite;
  grid-area: area8;
  text-align: center;
}

.c9 {
  background-color: antiquewhite;
  grid-area: area9;
  text-align: center;
}

.p {
  text-align: center;
}

.container_iframe {
  margin-left: 50px;
  width: 800px;
  height: 600px;
}
.container_iframe .iframe {
  width: 100%;
  height: 100%;
}

/*imagen ab me*/
.cards {
  display: flex;
  flex-direction: center;
  justify-content: center;
  gap: 5px;
  background-color: rgb(252, 252, 252);
  padding: 10px;
  margin: auto;
}
.cards .card {
  background-color: aliceblue;
  width: 400px;
  padding: 20px;
  overflow: hidden;
}
.cards .card:hover img {
  transform: scale(1.3, 1.3);
  transition: 0.5s;
}
.cards .card .card p {
  max-width: 100%;
}

/*formulario*/
.form-content:hover {
  transition: 0.5s;
  background-color: rgb(230, 229, 229);
}

.form-type {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  gap: 5px;
  width: 50%;
}

.form-content {
  margin: 10px;
  display: flex;
  align-items: center;
}

.form-content label {
  width: 20%;
  clear: both;
}

.form-content input, textarea {
  width: 100%;
  clear: both;
}

.submit-btn {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: rgb(11, 7, 252);
}

.row {
  width: 100%;
  padding: 50px;
}

/*mediaqueries*/
@media screen and (max-width: 600px) {
  .grilla, .cajita, .cajita, .caja {
    display: flex;
    flex-direction: column;
  }
  .text_img {
    display: flex;
    align-items: center;
    align-self: center;
  }
}
@media screen and (max-width: 500px) {
  .card p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 14px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 900px) {
  .ratio {
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 900px) {
  .ratio {
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  .container_img {
    align-content: center;
  }
}
@media screen and (max-width: 500px) {
  .pasos {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 90%;
  }
  .caja img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .col-md-6 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .container_iframe {
    display: flex;
    flex-direction: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .carousel {
    width: 100%;
    height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
