/*imagen ab me*/ 
.cards {
    display: flex;
    background-color: rgb(252, 252, 252);
    padding: 10px;
    margin: auto;
    justify-content: center;

    .card {
      background-color: aliceblue;
      width: 400px;
      padding: 20px;

      .card p {
        max-width: 100%;
      }
      
   }
 }
 
 
 
 
