*{
    margin: 0;
    padding: 0;
 }
 
 p {
    font-family: Verdana;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(172, 161, 132, 0.5); 
    padding: 10px;
 }
 
 .about {
    background: rgba(172, 161, 132, 0.5); 
    padding: 2px;
 }
 
 body {
    font-family: Verdana !important;
    background-color: rgb(224, 215, 194);
 }
 
 h1 {
     color: black;
     font-family: Verdana !important;
     text-align: center;
     margin: 50px;
 }
 
 h2 {
    color: black;
    font-family: Arial;
    text-align: center;
    margin: 50px;
 }
 
 .boton {
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    background-color: rgb(187, 209, 220);
    right: 10px;
    animation-name: init;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 0s;
 }
 
 .boton a {
    padding: 30px;
    display: inline-block;   
 }
 @keyframes init {
   10% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(50px);
   }
   100% {
      transform: translateY(0)
   }

 }