$background-footer:  rgba(172, 161, 132, 0.5); 
$background-body: rgb(224, 215, 194);
$background-colorgrids:  antiquewhite;
$font-familyprincipal: verdana;
$font-familysecundary: arial;
$hover-form: rgb(230, 229, 229);
$submithover-form: rgb(11, 7, 252);

